.todo{
        top:10px;
        left:33%;
        position: absolute;
        height: 20%;
        width: 33%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, rgb(0, 196, 245), rgb(6, 224, 240));
        opacity: 0.97;
}


    .title{
        width: 100%;
        height: 60%;
        font-family: 'Indie Flower';
        font-size: 40px;
        margin:0;
        padding: 0;
        text-align: center;

    }

    

    .searchandbutton{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }